/*
 * @description: 颜色变量文件
 * @author: huxianghe
 * @github: git@code.aliyun.com:QY_W/Verona.git
 * @lastEditors: huxianghe
 * @Date: 2019-07-19 09:46:51
 * @LastEditTime: 2019-07-31 10:37:17
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
// 主题色
$color-theme = #FFAD28

// 主题边框色
$color-border = #D9D9D9

// 常见文本色
$color-text = #333333

// 页面背景色
$page-back-color = #F7F7F7

// 基础蓝
$base-blue = #19ACE9

// 搜索框背景色
$search-back = #F5F5F5

$white = #FFFFFF

// 亮灰
$light-gray = #999999

// 中灰
$mid-gray = #666666
