/*
 * @description: 登录页面
 * @author: qiuyang
 * @github: git@code.aliyun.com:QUANYIZAOCANG/Bolzano.git
 * @lastEditors: qiuyang
 * @Date: 2019-08-19 15:59:57
 * @LastEditTime: 2019-09-10 17:44:00
 * @Copyright: Copyright ? 2019 Shanghai Shangjia Logistics Co., Ltd. All rights reserved.
 */
.login
    .login-head
        width 240px
        height 120px
        margin 80px auto 68px auto
        image
            width 100%
            height 100%
    .login-middle
        .login-middle-item
            position relative
            .login-middle-item-left
                position absolute
                bottom 24px
                left 32px
                z-index  999
                .mobile-icon
                    width 30px
                    height 36px
            .login-middle-item-input
                height 120px
                .at-input
                    height 100%
                    padding 50px  70px 0 50px
                    box-sizing border-box
            .login-middle-item-right
                position absolute
                bottom 24px
                right 36px
                z-index 999
                .clear-icon
                    width 36px
                    height 36px
    .login-hint
        margin-top 30px
        padding-left 32px
        font-size 28px
        text
            color #19ACE9
    .login-footer
        .login-footer-btn
            height 88px
            width 686px
            background #19ACE9
            margin 98px auto 34px auto
            border 0
        .login-footer-updatePassWorld
            width 686px
            margin 0 auto
            font-size 28px
            color #19ACE9
            text-align right 
                    

        
                    

            