/*
 * @description: 隐私协议
 * @author: songliubiao
 * @lastEditors: songliubiao
 * @Date: 2019-08-23 16:54:55
 * @LastEditTime: 2019-09-16 17:25:55
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
.privacy
    padding 20px 32px 36px 32px
    font-size 28px
    color rgba(51,51,51,1)
    line-height 50px
    .privacy-box
        .title
            display block
            padding 40px 0 20px 0 
            color #333333
            font-size 32px 
            font-weight 700