/*
 * @description: 店铺管理页面样式
 * @author: yanzihao
 * @github: git@code.aliyun.com:WOHAOYUN/thematrix.git
 * @lastEditors: yanzihao
 * @Date: 2019-08-02 13:46:43
 * @LastEditTime: 2019-09-11 09:59:29
 * @Copyright: Copyright  ?  2019  Shanghai  Shangjia  Logistics  Co.,  Ltd.  All  rights  reserved.
 */

.shop {
  width: 100%;
  height: 100%;
  .mark {
    text-align: center;
    margin: 38px 0 20px;
    .logo-image {
      display: inline-block;
      width:160px;
      height:160px;
      background:rgba(73,187,234,1);
      border-radius:50%;
      border:1px solid #EAEAEA;
    }
    .edit {
      display: inline-block;
      position: absolute;
      top: 13.7%;
      right: 0;
      bottom: 0;
      left: 40.8%;
      width:137.5px;
      height:40px;
      font-size:25px;
    }
  }
  .logo-content {
    text-align: center;
    font-size:28px;
  }
  .m-t-40 {
    margin-top: 40px;
    margin-left: 35px;
    .title-text{
      color:#999999;
      font-size: 24px;
    }
    .item-text{
      color:#333333;
      margin-top: 5px;  
      font-size: 28px;
    }
    .right-icon{
      float: right;
      margin-right: 35px;
      width: 15px;
      height: 25px;
    }
    .right-icon-center{
      position: absolute;
      right: 35px;
      width: 15px;
      height: 25px;
    }
    .at-input {
      margin: 0;
      padding:0;
      width:668px; 
      font-size: 28px;
      display: inline-block;
    }
    .at-input input{
      font-size: 28px;
    }
    .item-text-address {
      color:#333333;
      margin-top: 5px;  
      font-size: 28px;
      line-height: 28px;
      text-align: left;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
   
  }
  .login-out{
        margin: 20px auto 40px auto
        height: 88px
        width: 686px
        background: #19ACE9
        border: 0
  }
}
